<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>150UPBlog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B4477AA1CF0C3BF002CEEED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B4477C11CF0C3C0002CEEED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B4477CC1CF0C3C0002CEEED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
